/* Reduce size of main content text */
.post-content {
    font-size: 0.9rem;
  }
  
  /* Reduce size of post titles on list pages */
  .post-title {
    font-size: 1.5rem;
  }
  
  /* Reduce size of homepage info text */
  .home-info .entry-content {
    font-size: 0.9rem;
  }
  